<!DOCTYPE html>
<html lang="en" data-ng-app="CurrencyExchange">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Currency Converter in Angular</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- <link href="css/style.css" rel="stylesheet"> -->

    <link href="css/style.min.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300' rel='stylesheet' type='text/css'>
</head>

<body ng-app="app" ng-controller="mainController">

    <div ng-controller="ToggleMobile">

        <div ng-class="class" class="set-body" ng-controller="ChangeController">

            <!-- Mobile NAVBAR CODE Start -->
            <div class="side-menu-main" ng-class="class2">
                <ul class="">
                    <li>
                        <a href="">Settings</a>
                    </li>
                   <!-- Parse the change rate and all other infos from the json file in the ChangeMode function. Push the menu back on click with pushCans-->
                    <li ng-repeat="rates in contents">
                        <a ng-click="changeMode(rates.from_label,rates.to_label,rates.from_icon,rates.to_icon,rates.ratio);pushCans()" href="">{{rates.menu_label}}</a>
                    </li>
                </ul>
            </div>
            <!-- Mobile NAVBAR CODE END -->

            <!-- Desktop NAVBAR CODE Start -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

                <!-- mobile toogle Trigger-->
                <div class="navbar-header">
                    <div>
                        <button ng-click="pushCans()" type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <a class="navbar-brand" href="">Converter</a>
                </div>
                <!-- Collect the nav links-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <!-- Parse the change rate and all other infos from the json file in the ChangeMode function.-->
                        <li ng-repeat="rates in contents">
                            <a ng-click="changeMode(rates.from_label,rates.to_label,rates.from_icon,rates.to_icon,rates.ratio)" href="">{{rates.menu_label}}</a>
                        </li>
                    </ul>
                </div> 
            </nav>
            <!-- Desktop NAVBAR CODE End -->


            <!-- Main Area Start-->
            <div ng-controller="Numpad">
                <div class="row2">
                    <div class="from_area">

                        <img ng-model="from_flag" src="{{img_url_from}}">

                        <div class="from_text"> {{from_label_output}} </div>
                  
                            <input type="text" ng-model="from_num" name="from" required="required" readonly ng-maxlength="5" maxlength="5" />
                      
                    </div>

                    <div class="to_area">

                        <img ng-model="to_flag" src="{{img_url_to}}">
                        <div class="to_text"> {{to_label_output}} </div>

                        <div class="output_currency">{{from_num * ratio| limitTo:5}}</div>
                    </div>
                </div>
                <!-- Main Area End -->

                <!-- Numpad Start -->
                <div class="row">
                    <div ng-click="addNum(1)" class="col-md-3">
                        <button class="keypad-btn" type="button" value="1">1</button>
                    </div>
                    <div ng-click="addNum(2)" class="col-md-3">
                        <button class="keypad-btn" type="button" value="2">2</button>
                    </div>
                    <div ng-click="addNum(3)" class="col-md-3">
                        <button class="keypad-btn" type="button" value="3">3</button>
                    </div>
                    <div ng-click="addNum(4)" class="col-md-3">
                        <button class="keypad-btn" type="button" value="4">4</button>
                    </div>

                    <div ng-click="addNum(5)" class="col-md-3">
                        <button class="keypad-btn" type="button" value="5">5</button>
                    </div>
                    <div ng-click="addNum(6)" class="col-md-3">
                        <button class="keypad-btn" type="button" value="6">6</button>
                    </div>
                    <div ng-click="addNum(7)" class="col-md-3">
                        <button class="keypad-btn" type="button" value="7">7</button>
                    </div>
                    <div ng-click="addNum(8)" class="col-md-3">
                        <button class="keypad-btn" type="button" value="8">8</button>
                    </div>

                    <div ng-click="addNum(9)" class="col-md-3">
                        <button class="keypad-btn" type="button" value="9">9</button>
                    </div>
                    <div ng-click="addDecimal()" class="col-md-3">
                        <button class="keypad-btn" type="button" value=".">.</button>
                    </div>
                    <div ng-click="addNum(0)" class="col-md-3">
                        <button class="keypad-btn" type="button" value="0">0</button>
                    </div>
                    <div ng-click="deleteLastNum()" class="col-md-3">
                        <button class="keypad-btn" type="button" value="9">
                            <</button>
                    </div>
                </div>
                <!-- Numpad End -->

            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>



    <!-- Modules -->
    <script src="js/modules/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>
    <script src="js/controllers/ChangeController.js"></script>
    <script src="js/controllers/TogleMobileController.js"></script>
    <script src="js/controllers/NumpadController.js"></script>

    <!-- Services -->
    <script src="js/services/getCurrenciesServices.js"></script>


</body>

</html>
